
<div class="container-fluid bg-dark py-5 mt-5">
    <h2 class="text-center text-light">&copy; 2023 Created by Jamshid</h2>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>