<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" type="image/svg" href="/assets/icons/my-store.svg" alt="">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@400;500;600;700&family=Lobster&family=Playfair+Display:ital,wght@1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{title}}</title>
</head>

<body>
  {{> navbar}}
  <div class="container">
    {{{body}}}
  </div>

  {{> footer}}
</body>

</html>